rules_version = '2';

service firebase.storage {
  match /b/punto-fresco-f0c35.appspot.com/o {
    
    // Las imágenes de los productos son públicas para lectura
    match /products/{userId}/{fileName} {
       allow read: if true;
       
       // Solo el usuario autenticado puede escribir en su propia "carpeta"
       allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
