rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- FUNCIONES DE AYUDA ---
    function isAuthenticated() {
      return request.auth != null;
    }

    function getUserData() {
      // getAfter garantiza que leemos la versión más reciente del perfil
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data;
    }

    function isSuperAdmin() {
      return isAuthenticated() && (
        getUserData().rol == 'super_admin' || 
        request.auth.token.email == 'vallrack67@gmail.com'
      );
    }

    function isAdmin() {
      return isAuthenticated() && (getUserData().rol == 'admin' || isSuperAdmin());
    }
    
    function isVendedor() {
      return isAuthenticated() && getUserData().rol == 'vendedor';
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // --- REGLAS POR COLECCIÓN ---

    match /usuarios/{userId} {
      allow read: if isAuthenticated();
      // Un usuario nuevo se puede registrar sin rol.
      // Un super_admin puede crear usuarios con cualquier rol.
      // Un admin solo puede crear usuarios si su rol es 'vendedor'.
      allow create: if (isAuthenticated() && isOwner(userId) && !('rol' in request.resource.data))
                    || (isSuperAdmin())
                    || (isAdmin() && request.resource.data.rol == 'vendedor');
      allow update: if isSuperAdmin() || (isAuthenticated() && isOwner(userId) && request.resource.data.rol == resource.data.rol);
      allow delete: if isSuperAdmin();
    }

    match /productos/{productoId} {
      allow read: if isAuthenticated();
      allow create, delete: if isAdmin();
      allow update: if isAdmin() || isVendedor();
    }

    match /ventas/{ventaId} {
      allow read: if isAdmin() || (isAuthenticated() && (resource == null || resource.data.vendedorId == request.auth.uid));
      allow create: if isAuthenticated() && request.resource.data.vendedorId == request.auth.uid;
      allow update, delete: if isAdmin();
    }

    match /compras/{compraId} {
      allow read, write: if isAdmin();
    }

    match /reportes_financieros/{reporteId} {
      allow read, write: if isAdmin();
    }
    
    match /categorias/{categoriaId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /proveedores/{proveedorId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /mermas/{mermaId} {
      allow read: if isAdmin() || (isAuthenticated() && (resource == null || resource.data.registradoPor == request.auth.uid));
      allow create: if isAuthenticated();
      allow update: if false; // Nadie puede actualizar una merma
      allow delete: if isSuperAdmin(); // Solo el Super Admin puede borrar el registro
    }
  }
}
